.accordion-remove-button{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.remove-button{
    color: transparent;
}
.accordion-summary:hover .remove-button{
    color: #9fa6bb;
}
.accordion-remove-button:hover .remove-button{
    color: #1A91F0;
}