.accordion-remove-button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: transparent;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
}
.accordion-summary:hover .accordion-remove-button {
  color: #9fa6bb;
}
.accordion-summary:hover .accordion-title {
  color: #1a91f0;
}
.accordion-summary:hover .accordion-icon {
  color: #1a91f0;
}
.accordion-remove-button:hover .remove-button {
  color: red;
}
