.input{
    font-size: 24px;
    font-weight: 700;
    color: #1E2532;
    border: none;
    background-color: transparent;
    padding: 0px;
    width:auto;
}
input[type=text]:focus {
    outline: none;
    border-bottom:1px solid #5471fd;
  }