.input {
  font-size: 20px;
  font-weight: 700;
  color: #1e2532;
  border: none;
  background-color: transparent;
  padding: 0px;
  width: auto;
}
.input::after.input::before{
    box-sizing: inherit
}
.input[type="text"]:focus {
  outline: none;
  border-bottom: 1px solid #5471fd;
}

.input-container:hover .edit-button{
    display: block;
}